{% extends 'nav.html' %}

{% block nav %}
<h1>products</h1>
<div class="p-5 m-3 row">
{% for i in data %}
 
    <div class="card shadow p-5 m-4" style="width: 18rem;">
        <img src="{{i.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{i.title}}</h5>
          <p class="card-text">Rs:{{i.price}}</p>
          <a href="{% url 'det' i.id %}" class="stretched-link"></a>
        </div>
      </div>

      {% endfor %}
 </div>

{% endblock nav %}
